@{
    ViewBag.Title = "Error";
}


<div class="container">
    <div class="row">
        <div>
            <h3 style="padding-top:5px;">
                Ooops! A technical problem was encountered while processing your request.<br />
                Please try again.
            </h3>
        </div>
    </div>
</div>